@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-head: "Archivo Black", sans-serif;
	--font-sans: "Share Tech", sans-serif;
}

/* Atur font secara global */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-head); /* Gunakan font head untuk heading */
}

p,
span,
div {
	font-family: var(
		--font-sans
	); /* Gunakan font sans untuk paragraf dan elemen umum */
}
